* {
  box-sizing: border-box;
}

/* Nav.jsx styling */

/* List.jsx styling */
.list::-webkit-scrollbar {
  background: #111;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 2rem;
  height: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: rgb(99, 102, 241);
  border-radius: 2rem
}

/* HeroContainer.jsx styling */
.hero-container {
  height: 80vh;
  background-size: cover !important;
}

.hero-title {
  margin-top: 30vh;
  margin-left: 2rem;
  width: 40rem;
}

.hero-desc {
  width: 35rem;
  max-width: 80vw;
  line-height: 1.3;
  margin-left: 2rem;
}

/* Poster.jsx styling */
.media-genres > span {
  font-size: 0.70rem;
  font-weight: 400;
  color: white;
  margin-right: 5px; 
}