* {
  box-sizing: border-box;
}

/* List.jsx styling */
.list::-webkit-scrollbar {
  display: none;
}

/* HeroContainer.jsx styling */
.hero-container {
  height: 80vh;
  background-size: cover !important;
}

.hero-title {
  margin-top: 40vh;
}

.hero-desc {
  width: 45rem;
  max-width: 80vw;
  line-height: 1.3;
}

/* Poster.jsx styling */
.media-genres > span {
  font-size: 0.70rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 3px;
  color: black;
  background-color: white;
  margin-right: 5px; 
}